USE [AddressBookDB]
GO
ALTER TABLE [dbo].[Contact] DROP CONSTRAINT [DF_Contact_IsActive]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 19/08/2021 12:39:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contact]') AND type in (N'U'))
DROP TABLE [dbo].[Contact]
GO
USE [master]
GO
/****** Object:  Database [AddressBookDB]    Script Date: 19/08/2021 12:39:57 ******/
DROP DATABASE [AddressBookDB]
GO
/****** Object:  Database [AddressBookDB]    Script Date: 19/08/2021 12:39:57 ******/
CREATE DATABASE [AddressBookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AddressBookDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AddressBookDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AddressBookDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AddressBookDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AddressBookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AddressBookDB]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 19/08/2021 12:39:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF_Contact_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
USE [master]
GO
